.py-8.px-6.shadow.rounded-lg.sm:px-10
  = simple_form_for(@account, method: http_method, url: path, class: 'mb-0 space-y-6') do |f|
    .field
      = f.input :email
    - if http_method == :post
      .field
        = f.input :user_type, as: :radio_buttons, collection: Account::user_types.map(&:first)
      .field
        = f.input :password
        = f.input :id, as: :hidden, input_html: { value: @account.id }
    .action.sml-2.font-semibold.rounded-md.text-2xl.border-solid.border-2.border-gray-500.p-2= f.submit
.mt-10.text-center
  = link_to 'Back', admin_users_path, class: 'ml-2 font-semibold rounded-md text-2xl border-solid border-2 border-gray-500 p-2'