%h3= survey.new_record? ? "New Survey" : "Edit Survey"

.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  %h1.font-medium.leading-tight.text-2xl.mt-0.mb-2.text-center New Survey
  .py-8.px-6.shadow.rounded-lg.sm:px-10
    = form_for survey do |f|
      - if survey.errors.any?
        %ul
          - survey.errors.full_messages.each do |message|
            %li= message
      .form-group
        = f.label :name
        = f.text_field :name
      .form-group
        = f.label :introduction
        = f.text_area :introduction
      = f.label :after_survey_content
      = f.text_area :after_survey_content
      = f.submit
