%tr{id: "survey_#{survey.id}"}
  %td
    - if current_account.sys_admin?
      = link_to survey.name, survey_questions_path(survey)
    - else
      = survey.name
  %td
    %ul.horizontal-list
      %li= link_to "Answer Questions", new_survey_attempt_path(survey)
      - if current_account.sys_admin?
        %li= link_to "Results", [:results, survey]
        %li= link_to "Edit", edit_survey_path(survey)
        %li= link_to "Delete", survey, method: :delete
        %li= link_to 'Questions', "/rapidfire/surveys/#{survey.id}/questions"
