.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  %h1.font-medium.leading-tight.text-2xl.mt-0.mb-2.text-center New Post
  .py-8.px-6.shadow.rounded-lg.sm:px-10
    = simple_form_for(@post, class: 'mb-0 space-y-6') do |f|
      .field
        = f.input :name, input_html: { class: 'w-full border border-gray-300 px-3 py-2 rounded-lg' }
      .field
        = f.input :content, input_html: { class: 'w-full border border-gray-300 px-3 py-2 rounded-lg' }
      .actions= f.submit
  .mt-10.text-center
    = link_to 'Back', posts_path, class: 'ml-2 font-semibold rounded-md text-2xl border-solid border-2 border-gray-500 p-2'