<p id="notice"><%= notice %></p>

<div class="flex flex-col">
  <h1 class="font-medium leading-tight text-2xl mt-0 mb-2">Posts</h1>
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full border text-center">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">Name</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r">Content</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 border-r" colspan="3">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr class="border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r"><%= post.name %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r"><%= post.content %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r"><%= link_to 'Show', post %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r"><%= link_to 'Edit', edit_post_path(post) %></td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mt-4 ml-2 font-semibold rounded-md"><%= link_to 'New Post', new_post_path %></div>
    </div>
  </div>

<h2 class="font-medium leading-tight text-3xl mt-0 mb-2 mt-20">Every element on this page uses Tailwind</h1>
<h2 class="font-medium leading-tight text-3xl mt-0 mb-2">The following content is copy pasted</h1>

<div class="flex font-sans mt-10">
  <div class="flex-none w-48 relative">
    <img src="https://cdn.shopify.com/s/files/1/0086/1483/8327/products/Hook_n3metereesBackTank_760x.jpg?v=1667351608" alt="" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
  </div>
  <form class="flex-auto p-6">
    <div class="flex flex-wrap">
      <h1 class="flex-auto text-lg font-semibold text-slate-900">
        Classic Singlet
      </h1>
      <div class="text-lg font-semibold text-slate-500">
        $30.00
      </div>
      <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
        In stock
      </div>
    </div>
    <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
      <div class="space-x-2 flex text-sm">
        <label>
          <input class="sr-only peer" name="size" type="radio" value="xs" checked />
          <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
            XS
          </div>
        </label>
        <label>
          <input class="sr-only peer" name="size" type="radio" value="s" />
          <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
            S
          </div>
        </label>
        <label>
          <input class="sr-only peer" name="size" type="radio" value="m" />
          <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
            M
          </div>
        </label>
        <label>
          <input class="sr-only peer" name="size" type="radio" value="l" />
          <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
            L
          </div>
        </label>
        <label>
          <input class="sr-only peer" name="size" type="radio" value="xl" />
          <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
            XL
          </div>
        </label>
      </div>
    </div>
    <div class="flex space-x-4 mb-6 text-sm font-medium">
      <div class="flex-auto flex space-x-4">
        <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" type="submit">
          Buy now
        </button>
        <button class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
          Add to bag
        </button>
      </div>
      <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
        <svg width="20" height="20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
        </svg>
      </button>
    </div>
    <p class="text-sm text-slate-700">
      Free shipping on all continental US orders.
    </p>
  </form>
</div>
