%h2= t('rapidfire.attempts.header')
%hr/
%p= @survey.introduction
= form_for([@survey, @attempt_builder]) do |f|
  - @attempt_builder.answers.each do |answer|
    = f.fields_for("#{answer.question.id}", answer) do |answer_form|
      = render_answer_form_helper(answer, answer_form)
  = f.submit submit_text
